<nav>
	<a class="active" href="./">Winner</a>
	<a href="./Vote">Vote</a>
	<a href="./standings">Rankings</a>
</nav>

<body>
	<header>
		<h4>Winning image of the previous month</h4>
	</header>
	<img src="current_winner/winner.jpg" width="785" height="523" alt="Jan 2021 Winner" />
</body>
<!--
	<div class="button-holder">
		<form action="./good" method="post">
			<input type="hidden" name="photo" value="{{photo.name}}" />
			<input type="submit" value="Take my Vote!" />
			
		</form>
	{{#if photo}}
	<form action="./bad" method="post">
			<input type="hidden" name="photo" value="{{photo.name}}" />
			<input type="submit" value="Not good!" />
		</form>
	</div>

{{else}}

	<h3>No more photos to vote on! Check out the <a href="./standings">Rankings</a>.</h3>

{{/if}}-->